<!DOCTYPE html>

<h2>Hi <%=first%>!</h1>
<div>
  <form name="input" action="logout" method="post">
    <input type="submit" value="Logout">
  </form>
</div>
<hr>
<div>
  <form id="new_tweet" name="input" action="tweet" method="post">
    <b>Write a tweet</b> <br>
    <textarea rows="6" type="text" name="tweet"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>