<!DOCTYPE html>

<div id="login_buttons">
  <form method="get" action="login">
    <button class="btn btn-default" type="submit">Login</button>
  </form>
  <form method="get" action="signup">
    <button class="btn btn-default" type="submit">New User</button>
  </form>
</div>