<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>

  <body>

    <h1 class="text-center" style="background-color: white; border-radius: 10px; margin-left:30%; margin-right:30%">Sorry! That page does not exist</h1>

  </body>
</html>
