<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>

  <body>

    <div class="col-sm-4 text-center">
      <% if(username) { %>
        <% include partials/logged_in %>
      <% } else { %>
        <% include partials/logged_out %>
      <% } %>
    </div>

    <div class="col-sm-8">
      <div id="tweet_container">
        <h1 id="title" class="text-center"><%= title %>   <img src="images/fritter.png" height="39" width="55"></h1>
        <hr>
        <% include partials/tweets %>
      </div>      
    </div>

  </body>
</html>
