body {
  	padding: 50px;
  	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#title {
	color: #751919;
}

#new_tweet {
	color: #751919;
}

.tweet {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	margin: 5px;
}

#edit, #delete {
	display: inline-block;
	color: #751919;
}

#login_buttons {
	border: 1px solid #ccc;
	padding: 50px 0px 50px 0px;
	background-color: #f1e8e8;
}

textarea {
	width: 100%;
}

.active {
	background-color: #f1e8e8;
}

#title {
	padding-left: 5px;
}