
<!DOCTYPE html>
<html>
  
  <head>
    <% include ../partials/header %>
  </head>

  <body>

    <div id="user_info">
      <form name="input" action="login" method="post">
        <b>Login</b> <br>
        Fritter Username: <input type="text" name="username" placeholder="fritter username"><br>
        Password: <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Send">
      </form>
    </div>
    
  </body>
</html>
