<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="user_info">
      <form name="input" action="login" method="post">
        <b>Login</b> <br>
        Fritter Username: <input type="text" name="username" placeholder="fritter username"><br>
        Password: <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Send">
      </form>
    </div>
    
  </body>
</html>
